<header>
  <span>
    <h1>What to eat</h1>
    <div class="hl">
      <div class="hl__line"></div>
      <div class="hl__square"></div>
      <div class="hl__line"></div>
    </div>
    <div class="refs">
      <div class="refs__ref"><button><a routerLink="">Home</a></button></div>
      <div class="refs__separator"></div>
      <div class="refs__ref"><button><a href="https://github.com/yruefenacht/what-to-eat">Github</a></button></div>
      <div *ngIf="authService.user$ | async" class="refs__separator"></div>
      <div *ngIf="authService.user$ | async" class="refs__ref">
        <button (click)="authService.doLogout()">Logout</button>
      </div>
    </div>
  </span>
</header>
