<h2>Sign in first</h2>

<form [formGroup]="loginForm" (ngSubmit)="submitHandler()">

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="email.errors?.required && email.touched">
      Please enter email
    </mat-error>
    <mat-error *ngIf="email.errors?.email && email.touched">
      Please enter valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="password.errors?.required && password.touched">
      Please enter password
    </mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="loginForm.invalid" type="submit" color="primary">Login</button>

</form>
