<div class="menu" [class.menu--isLast]="isLast">
  <div class="menu--section-left">
    <img class="menu__image" [src]="menu.image">
  </div>
  <div>
    <ul>
      <li>
        <div class="menu__title">{{ menu.title }}</div>
      </li>
      <li>
        <div class="menu__ingredients">
          <div class="menu__ingredients__item" *ngFor="let ingredient of menu.ingredients; last as isLast">
            {{ ingredient }}<span *ngIf="!isLast">,</span>
          </div>
        </div>
      </li>
      <li>
        <mat-icon aria-label="Duration">schedule</mat-icon>
        <div class="menu__duration"> {{ menu.duration }} min</div>
        <div class="menu__tags">
          <div class="menu__tags__item" *ngFor="let tag of menu.tags">
            {{ tag }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="menu--section-right">
    <button mat-icon-button>
      <mat-icon aria-label="Edit Todo">edit</mat-icon>
    </button>
  </div>
</div>
