@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$mat-icon-size: 22px;
mat-icon {
  color: #6e7881;
  width: $mat-icon-size;
  height: $mat-icon-size;
  line-height: $mat-icon-size;
  font-size: $mat-icon-size;
}

mat-card {
  width: clamp(300px, 90%, 450px);
  margin: 2em auto 0;
  padding: 0;
}

.menu__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

mat-card-content {
  display: grid;
  grid-template-columns: 95% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title edit"
    "ingredients edit"
    "tags edit";
  padding: 16px;
  li {
    list-style-type: none;
  }
  .menu__grid {
    &--col1 {
      grid-area: title;
    }
    &--col2 {
      grid-area: ingredients;
    }
    &--col3 {
      grid-area: tags;
      @include flex-box(flex-start, center);
      flex-wrap: wrap;
    }
    &--col4 {
      grid-area: edit;
      @include flex-box();
    }
  }
}

.menu__title {
  margin: 0;
  font-size: 1.65em;
  font-weight: 400;
  color: #444;
}

.menu__ingredients {
  margin: 0.75em 0;
  &__item {
    display: inline-block;
    color: #a6a6a6;
    margin-right: 0.75em;
    margin-top: 0.4em;
  }
}

.menu__duration {
  display: flex;
  align-items: center;
  margin: 0 1em 0 0.25em;
  color: #6e7881;
}

.menu__tags {
  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 500;
    color: white;
    background: #9dab86;
    padding: 0.4em 0.75em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 3px;
  }
}
