@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$mat-icon-size: 22px;

mat-icon {
  color: #6e7881;
  width: $mat-icon-size;
  height: $mat-icon-size;
  line-height: $mat-icon-size;
  font-size: $mat-icon-size;
}

.menu {
  display: grid;
  grid-template-columns: 150px auto 50px;
  width: clamp(300px, 80vw, 750px);
  padding: 2em;
  margin: 2em 0;
  &--col1, &--col3 {
    @include flex-box();
  }
  &--col2 {
    padding-left: 2em;
    overflow: hidden;
    li {
      @include flex-box(flex-start, center);
      flex-wrap: wrap;
      list-style-type: none;
      min-height: 30px;
    }
  }
}

.menu__image {
  width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 15px 0px #aaa;
}

.menu__title {
  margin: 0;
  font-size: 1.65em;
  font-weight: 400;
  color: #444;
}

.menu__ingredients {
  margin: 0.75em 0;
  &__item {
    display: inline-block;
    color: #a6a6a6;
    margin-right: 0.75em;
    margin-top: 0.4em;
  }
}

.menu__duration {
  display: flex;
  margin: 0 1em 0 0.25em;
  color: #6e7881;
}

.menu__tags {
  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 500;
    color: white;
    background: #9dab86;
    padding: 0.4em 0.75em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    grid-template-columns: 90% auto;
    grid-template-rows: 160px auto;
    grid-auto-flow: column;
    grid-template-areas: 
      "image image"
      "menu edit";
    padding: 0;
    &--col1 {
      grid-area: image;
    }
    &--col2 {
      padding: 2em 0 2em 2em;
    }
    &--col3 {
      grid-area: edit;
    }
  }
  .menu__image {
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
