<div class="menu" [class.menu--isLast]="isLast">
  <div class="menu--section-left">
    <img class="menu__image" [src]="menu.image">
  </div>
  <div>
    <ul>
      <li>
        <div class="menu__title">{{ menu.title }}</div>
      </li>
      <li>
        <div class="menu__ingredients">
          <div class="menu__ingredients__item" *ngFor="let ingredient of menu.ingredients; last as isLast">
            {{ ingredient }}<span *ngIf="!isLast">,</span>
          </div>
        </div>
      </li>
      <li>
        <mat-icon aria-label="Duration">schedule</mat-icon>
        <div class="menu__duration"><b>{{ menu.duration }}</b> min</div>
        <div class="menu__tags">
          <div class="menu__tags__item" *ngFor="let tag of menu.tags">
            {{ tag }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="menu--section-right">
    <button mat-icon-button [matMenuTriggerFor]="menuOptions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuOptions="matMenu">
      <button mat-menu-item [routerLink]="['/edit', menu.id]">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteMenu()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    
  </div>
</div>
