@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

form {
  @include flex-box();
  flex-direction: column;
}
  
mat-form-field, .dropzone {
  width: clamp(300px, 90%, 500px);
}

mat-file-upload {
  margin-bottom: 4em;
}

mat-spinner {
  margin: 8em auto;
}

$dropzone-success: #71a95b;
.dropzone {
  @include flex-box();
  flex-direction: column;
  height: 200px;
  margin-bottom: 1em;
  background: #fafafa;
  border: 3px dotted #dee3e0;
  &__icon {
    @include flex-box();
    width: 50px;
    height: 50px;
    background: #121013;
    color: white;
    border-radius: 50%;
    &.success {
      background: $dropzone-success;
    }
  }
  &__feedback {
    @include flex-box(space-between, center);
    margin: 0.5em 0 1em;
    max-height: 20px;
    color: #656565;
  }
  &.hovering {
    border-color: #121013;
  }
  &.success {
    border-color: $dropzone-success;
  }
}
@media screen and (max-width: 768px) {
  .dropzone {
    height: 150px;
    border: none;
    margin: 0;
    background: transparent;    
    &__icon {
      width: 40px;
      height: 40px;
    }
  }
}
  