<h2>Add new menu</h2>

<form [formGroup]="menuform" (ngSubmit)="submitHandler()">

  <div class="form__separator">
    <div class="form__separator__line"></div>
    <div class="form__separator__step">
      <div class="form__separator__step__number">1</div>
    </div>
    <div class="form__separator__line"></div>
  </div>

  <mat-file-upload
    [acceptedTypes]="'.png, .jpg, .jpeg'"
    [labelText]="'Upload image:'"
    [selectButtonText]="'Choose Image'"
    [uploadButtonText]="'Upload'"
    [allowMultipleFiles]="false"
    (uploadClicked)="uploadImage($event)"
  ></mat-file-upload>

  <div class="form__separator">
    <div class="form__separator__line"></div>
    <div class="form__separator__step">
      <div class="form__separator__step__number">2</div>
    </div>
    <div class="form__separator__line"></div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="title.invalid && title.touched">
      Please only letters in title
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingredients" formControlName="ingredients">
    <mat-error *ngIf="ingredients.invalid && ingredients.touched">
      Please add ingredients
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Duration [min]" [value]="0" formControlName="duration">
    <mat-error *ngIf="duration.errors?.min && duration.touched">
      Duration is unrealistically small
    </mat-error>
    <mat-error *ngIf="duration.errors?.max && duration.touched">
      Duration is unrealistically high
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tags" formControlName="tags">
  </mat-form-field>
  
  <button mat-raised-button [disabled]="!formIsValid" type="submit" color="primary">Submit</button>

</form>
