form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
mat-form-field {
  width: clamp(300px, 90%, 500px);
}

mat-file-upload {
  margin-bottom: 4em;
}

mat-spinner {
  margin: 8em auto;
}
  