<form [formGroup]="menuForm" (ngSubmit)="submitHandler()">

  <div class="dropzone"
    *ngIf="hasImage"
    appDropzone
    (hovered)="dropZonetoggleHover($event)"
    (dropped)="dropZoneSetImage($event)"
    [class.hovering]="dropZoneHovering">
    <div class="dropzone__icon">
      <mat-icon>cloud_upload</mat-icon>
    </div>
    <p>Drag and drop image</p>
    <button mat-stroked-button type="button" (click)="fileUpload.click()">
      <input type="file" (change)="dropZoneSetImage($event.target.files[0])" #fileUpload hidden>
      Or choose image
    </button>
  </div>

  <div class="dropzone--feedback" *ngIf="hasImage">
    <span *ngIf="image.value; else noImageSelected">{{ image.value.name }}</span>
    <ng-template #noImageSelected>No image selected</ng-template>
    <button mat-icon-button matSuffix *ngIf="image.value" (click)="image.setValue(null)">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="title.errors?.required && title.touched">
      Please set title
    </mat-error>
    <mat-error *ngIf="title.errors?.pattern && title.touched">
      Please only letters in title
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #ingredientChips formControlName="ingredients">
      <mat-chip *ngFor="let ingredient of menuForm.value.ingredients"
        [selectable]="false"
        [removable]="true"
        (removed)="removeIngredient(ingredient)">
        {{ ingredient }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Ingredients..."
        [matChipInputFor]="ingredientChips"
        [matChipInputAddOnBlur]="true"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addIngredient($event)">
    </mat-chip-list>
    <mat-error *ngIf="ingredients.errors?.required && ingredients.touched">
      Please add ingredients
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Duration [min]" [value]="0" formControlName="duration">
    <mat-error *ngIf="duration.errors?.min && duration.touched">
      Duration is unrealistically small
    </mat-error>
    <mat-error *ngIf="duration.errors?.max && duration.touched">
      Duration is unrealistically high
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tags..." [formControl]="tags" multiple>
      <mat-option *ngFor="let tag of tagList" [value]="tag">{{ tag }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button [disabled]="menuForm.invalid" type="submit" color="primary">{{ submitButtonText }}</button>

</form>
