form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 60%;
  max-width: 500px;
}

mat-file-upload {
  margin-bottom: 4em;
}

mat-spinner {
  margin: 8em auto;
}
