<section>
  <div class="filter">
    <div class="filter--box">
      <mat-form-field class="filter__search">
        <mat-label>Search Menus...</mat-label>
        <input matInput type="text" [(ngModel)]="searchText"/>
        <mat-icon matSuffix *ngIf="!searchText">search</mat-icon>
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <cdk-virtual-scroll-viewport *ngIf="menus | async" itemSize="190">
    <div class="menus" *ngIf="menus; else noMenus">
      <app-menu *cdkVirtualFor="let menu of (menus | async) | search: searchText; last as isLast"
        [menu]="menu"
        [isLast]="isLast">
      </app-menu>
    </div>
  </cdk-virtual-scroll-viewport>
  <ng-template #noMenus>
    <div class="no-menus">
      No Menus
    </div>
  </ng-template>
  <mat-spinner *ngIf="(menus | async) === null" [strokeWidth]="5"></mat-spinner>
  <button mat-fab class="add-menu-btn"  color="primary" routerLink="/new">
    <mat-icon aria-label="Add Menu">add</mat-icon>
  </button>
</section>
