<section>
  <div class="filter">
    <mat-form-field class="filter__search">
      <mat-label>Search Menus...</mat-label>
      <input matInput type="text" [(ngModel)]="searchText"/>
      <mat-icon matSuffix *ngIf="!searchText">search</mat-icon>
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
  </div>
  <cdk-virtual-scroll-viewport itemSize="190">
    <div class="menus" *ngIf="menus; else noMenus">
      <app-menu *cdkVirtualFor="let menu of (menus | async) | search: searchText; last as isLast"
        [menu]="menu"
        [isLast]="isLast">
      </app-menu>
    </div>
  </cdk-virtual-scroll-viewport>
  <ng-template #noMenus>
    <div class="no-menus">
      No Menus
    </div>
  </ng-template>
  <button mat-fab class="add-menu-btn"  color="primary" routerLink="/new">
    <mat-icon aria-label="Add Menu">add</mat-icon>
  </button>
</section>
