@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

cdk-virtual-scroll-viewport {
  height: calc(100vh - 200px);
  width: 100%;
}

.menus {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 950px) {
  .menus {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .menus {
    grid-template-columns: 1fr;
    padding-bottom: 3em;
  }
}

.no-menus {
  @include flex-center();
  height: 45vh;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #222831;
  border-radius: 3px;
}

.add-menu-btn {
  @include flex-center();
  position: absolute; bottom: 3em; right: 3em;
  color: white;
  img {
    height: 30px;
  }
}