@mixin flex-box($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.filter {
  width: 100%;
  box-shadow: 0px 3px 8px -5px #aaa;
  position: relative;
  z-index: 1;
  &--box {
    @include flex-box(space-around, center);
    width: clamp(300px, 90vw, 1200px);
    margin: 0 auto;
    height: 100px;
  }
  &__search {
    width: 75%;
    font-size: 1em;
    font-weight: 300;
  }
  &__tags {
    width: 20%;
    font-size: 1em;
    font-weight: 300;
  }
}

$header-height: 200px;
$filter-height: 100px;
cdk-virtual-scroll-viewport {
  height: calc(100vh - #{$header-height+$filter-height});
  width: 100%;
}

mat-spinner {
  margin: 8em auto;
}

.menus {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 950px) {
  .menus {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .menus {
    grid-template-columns: 1fr;
    padding-bottom: 3em;
  }
}

.no-menus {
  @include flex-box();
  height: 45vh;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #222831;
  border-radius: 3px;
}

.add-menu-btn {
  @include flex-box();
  position: absolute; bottom: 3em; right: 3em;
  color: white;
  img {
    height: 30px;
  }
}