@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

cdk-virtual-scroll-viewport {
  height: calc(100vh - 200px);
}

.menus {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-menus {
  @include flex-center();
  height: 45vh;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #222831;
  border-radius: 10px;
}