<section class="menus--section">
  <cdk-virtual-scroll-viewport itemSize="190">
    <div class="menus" *ngIf="menus; else noMenus">
      <app-menu *cdkVirtualFor="let menu of menus | async; last as isLast"
        [menu]="menu"
        [isLast]="isLast">
      </app-menu>
    </div>
  </cdk-virtual-scroll-viewport>
  <ng-template #noMenus>
    <div class="no-menus">
      No Menus
    </div>
  </ng-template>
  <button mat-fab class="add-menu-btn"  color="primary" routerLink="/new">
    <mat-icon aria-label="Add Menu">add</mat-icon>
  </button>
</section>
