html, body {
  margin: 0;
	padding: 0;
	border: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 4em 0 2.5em;
}
